*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}
body{
    display : flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.car-body{
    margin-top: 30px;
    margin-left: 30px;
    height: 300px;
    width: 290px;
    background-color: aqua !important;
    border-radius: none !important;
}
.nav{
    background-color: blue;
    color: white;
}